
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>home</title>
  
</head>
<body>
    <h1>Diabetes Prediction </h1>
    <div class="login">
        <form action="{{ url_for('predict')}}"method="post">
                    <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies eg.0"><br>
                    <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80"><br>
                    <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80"><br>
                    <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20"><br>
                    <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80"><br>
                    <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1"><br>
                    <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52"><br>
                    <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 34"><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
       <br>
       {{ prediction_text }}
    </div>
</body>
</html>